<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quizzi"
        tools:targetApi="31">
        <activity
            android:name=".views.QuizResultActivity"
            android:exported="false" />
        <activity
            android:name=".views.PlayGameActivity"
            android:exported="false" />
        <activity
            android:name=".views.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.AboutQuizzoActivity"
            android:exported="false" />
        <activity
            android:name=".views.AuthorDetailsAboutActivity"
            android:exported="false" />
        <activity
            android:name=".views.AuthorDetailsCollections"
            android:exported="false" />
        <activity
            android:name=".views.AuthorDetailsQuizzo"
            android:exported="false" />
        <activity
            android:name=".views.CreateAccountStep1Activity"
            android:exported="false" />
        <activity
            android:name=".views.CreateAccountStep2Activity"
            android:exported="false" />
        <activity
            android:name=".views.CreateNewPassword"
            android:exported="false" />
        <activity
            android:name=".views.DetailTopCollections"
            android:exported="false" />
        <activity
            android:name=".views.DiscoveryActivity"
            android:exported="false" />
        <activity
            android:name=".views.FollowActivity"
            android:exported="false" />
        <activity
            android:name=".views.ForgotPassWord"
            android:exported="false" />
        <activity
            android:name=".views.MainActivity"
            android:exported="false" />
        <activity
            android:name=".views.MusicEffectsActivity"
            android:exported="false" />
        <activity
            android:name=".views.MyStatisticActivity"
            android:exported="false" />
        <activity
            android:name=".views.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".views.PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".views.QuizzDetails"
            android:exported="false" />
        <activity
            android:name=".views.RecommendAuthorActivity"
            android:exported="false" />
        <activity
            android:name=".views.RecommendUserActivity"
            android:exported="false" />
        <activity
            android:name=".views.ResetPasswordSuccess"
            android:exported="false" />
        <activity
            android:name=".views.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".views.SetiingActivity"
            android:exported="false" />
        <activity
            android:name=".views.SignInForm"
            android:exported="false" />
        <activity
            android:name=".views.TopCollections"
            android:exported="false" />
        <activity
            android:name=".views.TypeOTP"
            android:exported="false" />
        <activity
            android:name=".views.UI41"
            android:exported="false" />
        <activity
            android:name=".views.UI_40_generate_qr"
            android:exported="false" />
    </application>

</manifest>